<style>
    .hide {
        display: none
    }

    #cloud-cells-form {
        padding: 1em 0 2em 0;
    }
    #cloud-cells-form h4 {
        margin: 0;
        padding: 0 0 0.5em 1em;
    }
    .flex-outer {
        padding: 0;
    }
    .flex-outer li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 2em;
    }
    .flex-outer > li > label,
    .flex-outer > li > p {
    /* .flex-outer > li > div { */
        flex: 1 0 120px;
        max-width: 220px;
    }
    #cell-preview {
        margin: 0.75em 0;
    }
    .divider {
        border-top: 1px solid #e5e5e5;
        margin-top: 2em;
        padding-top: 1em;
    }
    .modal-body {
        padding: 0 !important;
    }
</style>

<ul id="tabs" class="nav nav-tabs">
    <li id="btn-tab-conf" class="active">
        <a href="#conf" data-toggle="tab">Configure SDIA</a>
    </li>
    <li id="btn-tab-deploy">
        <a href="#run" data-toggle="tab">Deploy Image</a>
    </li>
    <li id="btn-tab-validate">
        <a href="#validate" data-toggle="tab">About</a>
    </li>
</ul>

<form id="cloud-cells-form">
    <ul id="sdia-conf" class="flex-outer">
<!--        <h4>Configure SDIA</h4>-->
        <li>
            <label for="sdia_url">SDIA URL:</label>
            <input type="url" id="sdia_url" pattern="https://.*" size="40" value="https://fry.lab.uvalight.net:30001/manager"/>
        </li>
        <li>
            <label for="sdia_username">SDIA Username:</label>
            <input type="text" id="sdia_username" name="sdia_username" minlength="4" maxlength="8" size="10">
        </li>
        <li>
            <label for="pwd">SDIA Password:</label>
            <input type="password" id="sdia_password" name="sdia_password" minlength="8"><br><br>
        </li>
        <li>
            <label for="sdia_auth_token">Authorization token:</label>
            <input type="password" id="sdia_auth_token" name="sdia_auth_token" minlength="8"><br><br>
        </li>


<!--        </li>-->
<!--        <li>-->
<!--            <p>Preview:</p>-->
<!--            <div id="cell-preview"></div>-->
<!--        </li>-->
<!--        <li>-->
<!--            <label for="environment-area">Conda environment.yml:</label>-->
<!--            <textarea id="environment-area" cols="50" rows="7" type="textarea"></textarea>-->
<!--        </li>-->
<!--        <li id="kernel-specific">-->
<!--        </li>-->
<!--        <li>-->
<!--            <p>-->
<!--                <input id="build-dockerfile-button" type="submit" value="Build Dockerfile"/>-->
<!--            </p>-->
<!--            <p id="build-dockerfile-notify"></p>-->
<!--        </li>-->
<!--        <li>-->
<!--            <p>Dockerfile:</p>-->
<!--            <textarea id="build-dockerfile-output" cols="50" rows="5" type="textarea" disabled></textarea>-->
<!--        </li>-->
<!--        <li>-->
<!--            <p>-->
<!--                <input id="build-container-button" type="submit" value="Build"/>-->
<!--            </p>-->
<!--            <p id="build-notify"></p>-->
<!--        </li>-->
<!--        <li>-->
<!--            <p>Build logs:</p>-->
<!--            <textarea id="build-output" cols="50" rows="5" type="textarea" disabled></textarea>-->
<!--        </li>-->
    </ul>

    <ul id="cloud-cells-deploy" class="flex-outer hide">
        <h4>Deploy</h4>
        <li>
            <label for="image_repository">Docker Image Repository:</label>
            <input type="url" id="image_repository" size="40" value="local"/>
        </li>

        <li>
            <label for="docker-image">Docker Image:</label>
            <select id="docker-image" name="docker-image" form="create-form">
                {% for display, image in images %}
                    <option value="{{ image }}">{{ display }}</option>
                {% end %}
            </select>
        </li>


<!--        <li>-
<!--            <label for="container-status">Status:</label>-->
<!--            <input id="container-status" value="idle" type="text" disabled/>-->
<!--        </li>-->
<!--        <li>-->
<!--            <div>-->
<!--                <input id="run-button" type="submit" value="Run"/>-->
<!--                <input id="status-button" type="submit" value="Status"/>-->
<!--                <input id="stop-button" type="submit" value="Stop"/>-->
<!--            </div>-->
<!--        </li>-->
    </ul>
    <ul id="cloud-cells-about" class="flex-outer hide">
        <h4>About</h4>

        <p style="margin-left: 5%;">
            Cloud-Cells is developed by the research team for Quality Critical Distributed Computing (QCDIS) in the
            Multi Scale Networking System Group (MNS) of the University of Amsterdam. The development of Cloud-Cells is
            coordinated by Dr. Zhiming Zhao: <a href="mailto:z.zhao@uva.nl">z.zhao@uva.nl</a></p>

        <p style="margin-top: 5%;margin-left: 5%;">
            Developers:
        <li style="margin-left: 5%;">
            W. Kruijer <a href="mailto:wilcokruijer@gmail.com">wilcokruijer@gmail.com</a>
        </li>
        <li style="margin-left: 5%;">
            S. Koulouzis <a href="mailto:S.Koulouzis@uva.nl">S.Koulouzis@uva.nl</a>
        </li>
        </p>

        <p style="text-align:right;margin-right: 5%;">

            <img src="https://mns-research.nl/images/logo_hua931301caa9e2c039e68fbb874deb22a_17897_0x70_resize_lanczos_2.png" alt="MnS"  width="15%" height="15%">
            <img src="https://bynder-public-eu-central-1.s3.amazonaws.com/media/9E3E0032-62BD-4694-A3CCB1BC17CA3CAF/820AE599-3321-4FD3-96AAF5D0926A84C2/webimage-ED0F2C5B-4DB7-4916-8A9990566EFDA309.png" alt="UvA" width="10%" height="10%">

<!--            <img src="https://www.lifewatch.eu/image/journal/article?img_id=1307465&t=1542636417563" alt="LifeWatch"  width="80" height="50">-->
<!--            <img src="https://envri.eu/wp-content/uploads/2019/10/envri_logo_final-1.jpg" alt="envri"  width="80" height="50">-->
        </p>
    </ul>






</form>
